@page "/"
@using System.Globalization

<div class="row">
    <div class="col">
        <div class="calendar">
            <div class="command-bar">
                <div class="form-row">
                    <div class="col-auto">
                        <button type="button" class="btn btn-light btn-lg mt-sm-3" @onclick="@DecrementMonthAsync">&#60;</button>
                    </div>
                    <div class="col">
                        <input type="number" class="header form-control-plaintext font-weight-bolder" id="calendar-year"
                            value="@CurrentYear" 
                            @onchange="@(async e => await SetCurrentYearAsync(e.Value))"
                        >
                    </div>
                    <div class="col">
                        <select id="inputState" class="form-control-plaintext" 
                            value="@CurrentMonth"
                            @onchange="@(async e => await SetCurrentMonthAsync(e.Value))"
                        >
                            @for (int i = 1; i <= 12; i++)
                            {
                                var name = DateTimeFormatInfo.CurrentInfo.GetMonthName(i);
                                <option value="@i">@name</option>
                            }
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-light btn-lg mt-sm-3" @onclick="@IncrementMonthAsync">&#62;</button>
                    </div>
                </div>
            </div>

            <div>
                <CalendarTable CurrentMonth="@CurrentMonth" CurrentYear="@CurrentYear" Contents="@EntriesManager.Entries" FetchedMonths="@EntriesManager.FetchedMonths" />
            </div>
        </div>
    </div>            
</div>

